# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod_dddddd

# Compiled Static libraries
*.lai
*.la
*.a
*.lib_bbbb

# Executables
*.exe
*.out
*.app


_temp
software/.build
software/.app
software/.build.app
software/app


